---
:bachelor:
  :consumer_key: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  :consumer_secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  :access_token: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  :access_token_secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
:master:
  :consumer_key: ABCDEFGHIJKLMNOPQRSTUVWXY
  :consumer_secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  :access_token: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  :access_token_secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
