ENV["B_CONSUMER_KEY"] = ""
ENV["B_CONSUMER_SECRET"] = ""
ENV["B_ACCESS_TOKEN"] = ""
ENV["B_ACCESS_TOKEN_SECRET"] = ""
ENV["M_CONSUMER_KEY"] = ""
ENV["M_CONSUMER_SECRET"] = ""
ENV["M_ACCESS_TOKEN"] = ""
ENV["M_ACCESS_TOKEN_SECRET"] = ""
